<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Pages/OnError/ErrorPage.aspx?ErrorMessage=Other Errors">
      <error statusCode="500" redirect="~/Pages/OnError/ErrorPage.aspx?ErrorMessage=Internal Errors" />
      <error statusCode="404" redirect="~/Pages/OnError/ErrorPage.aspx?ErrorMessage=File is not found" />
      <error statusCode="403" redirect="~/Pages/OnError/ErrorPage.aspx?ErrorMessage=Authorization is failed" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <location path="Pages/Management">
    <system.web>
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Account/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Account/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="TeeShopConnectionString" connectionString="Data Source=dochyper.unitec.ac.nz;Initial Catalog=GUF03sqlserver1;User ID=GUF03;Password=08041985" />
    <add name="GUF03sqlserver1ConnectionString" connectionString="Data Source=dochyper.unitec.ac.nz;Initial Catalog=GUF03sqlserver1;Persist Security Info=True;User ID=GUF03;Password=08041985" providerName="System.Data.SqlClient" />
    <add name="TeeShopEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dochyper.unitec.ac.nz;initial catalog=GUF03sqlserver1;persist security info=True;user id=GUF03;password=08041985;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>